/* CSS RESET: use box-sizing model; remove default margin & form typography styles; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
/* tailwind CSS Lime palette */
:root{
  --black: hsl(0, 0%, 0%);
  --bg950: hsl(13, 81%, 15%);
  --bg900: hsl(15, 75%, 28%);
  --bg800: hsl(15, 79%, 34%);
  --bg700: hsl(17, 88%, 40%);
  --bg600: hsl(21, 90%, 48%);
  --mg500: hsl(25, 95%, 53%);
  --fg400: hsl(27, 96%, 61%);
  --fg300: hsl(31, 97%, 72%);
  --fg200: hsl(32, 98%, 83%);
  --fg100: hsl(34, 100%, 92%);
  --fg50:  hsl(33, 100%, 96%);
}

/* main CSS */
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg900);
  color: var(--fg50);
  header{
    display: flex;
    align-items: center;
    background-color: var(--bg950);
    margin: 0 0 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 12px var(--bg700);
    #restaurantLogo {
      min-width: 2rem;
      height: 2rem;
      margin: 0 0.5rem 0 0;
      background-image: url('./assets/fire-symbol.svg');
      background-repeat: no-repeat;
    }
    #restaurantName {
      text-wrap: nowrap;
      padding: 0 1rem 0 0;
      margin: 0 auto 0 0;
      text-shadow: 0 0 5px var(--black), 0 0 5px var(--black);
    }

    nav{
      display: flex;
      gap: 1rem;
      button {
        color: var(--fg100);
        background-color: var(--bg800);
        box-shadow: 0 0 3px var(--bg700);
        border-style: none;
        padding: 0.5rem 1rem;
        border-radius: 13px;
      }
    }
  }
}

/* home page CSS */
.homePageElementsWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .welcomeText{
    width: 80vw;
    p {
      margin: 2rem 0;
    }
  }
  .BBLButtons{
    display: flex;
    gap: 1rem;
    margin: 0 0 1.5rem 0;
    button{
      background-color: var(--fg200);
      border-radius: 8px;
      border-style: none;
      padding: 0.75rem;
      color: var(--bg950);
      box-shadow: 0 0 9px var(--bg950);
    }
  }
  #interiorImageWrapper{
    div {
      background-image: url('./assets/restaurantInterior.jpeg');
      background-size: cover;
      background-position: center;
      width: 80vw;
      height: 45vw; /*based off width to work like aspect ratio. overshoot a little*/
      box-shadow: 0 0 13px 0px var(--black);
    }
  }
}

/* menu page CSS */
.menuPageElementsWrapper{
  ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding: 1.25rem;
    display: grid;
    grid-template: repeat(4,1fr) 1.5fr / 1fr 1fr;
    gap: 1rem;
    li {
      background-color: var(--bg800);
      padding: 0.75rem 0.5rem;
      box-shadow: 0 0 9px var(--bg950);
    }
    li:nth-of-type(8) {
      grid-area: 5/1/6/2;
    }
    li:nth-of-type(9) {
      grid-area: 5/2/6/3;
    }
  }
}

/* contact page CSS */
.contactInfo {
  text-align: center;
  p {
    margin: 0 0 1rem 0;
  }
}