/* CSS RESET: use box-sizing model; remove default margin & form typography styles; */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
input, button, textarea, select { font: inherit; }
/* imported google fonts examples */
/* .roboto { font-family: "Roboto"; font-weight: 400,500; font-style: normal; } */
/* variables---------------------------------------------------------------- */
/* tailwind CSS Lime palette */
:root{
  --bg950: hsl(89, 80%, 10%);
  --bg700: hsl(86, 78%, 27%);
  --mg500: hsl(84, 81%, 44%);
  --fg400: hsl(83, 78%, 55%);
  --fg200: hsl(81, 88%, 80%);
  --fg50: hwb(78 91% 0%);
}

/* main CSS */
body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg950);
  color: var(--fg50);
  nav{
    background-color: var(--bg700);
  }
}
#interiorImageWrapper{
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  div {
    background-image: url('./assets/restaurantInterior.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 80vw;
    height: 46vw; /*based off width to work like aspect ratio. overshoot a little*/
  }
}